In [4]:
# Assignment 1
#Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple


my_string = "This is python"
my_list = [34,35,23,"ram",45.3,True]
my_float = 345.232
my_tuple = (23,5,123,12)

In [6]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = ' '
type(var1)

str

In [7]:
var2 = '[DS , ML , Python]'
type(var2)

str

In [8]:
var3 = ['DS' , 'ML', 'Python']
type(var3)

list

In [9]:
var4 = 1
type(var4)

int

In [15]:
# Q3. Explain the use of the following operators using an example:
# (i) /   -- used to division with floating points
# (ii) %  -- used to get reminder
# (iii) // -- used to division without floating point
# (iv) **  -- used to find power

In [19]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

l = [34,2,5,"ram","sita",342.5,False , 34.2, True,'geeta']
for i in l:
    print(type(i))
    print(i)

<class 'int'>
34
<class 'int'>
2
<class 'int'>
5
<class 'str'>
ram
<class 'str'>
sita
<class 'float'>
342.5
<class 'bool'>
False
<class 'float'>
34.2
<class 'bool'>
True
<class 'str'>
geeta

In [8]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
a = int(input("Enter the number a"))
b = int(input("Enter the number b"))
if b == 0:
    print("B cannot be zero ")
else:
    count = 0
    
    while a%b == 0:
        a = a//b
        count = count +1 
        if count > 0:
           # print(f"{a} is purely divisible by {b} and can be divided {count} times.")
            print( "a is purely divisible by b", count , "times")
        else:
            print("a is not divisible by b")

Enter the number a 16
Enter the number b 4

a is purely divisible by b 1 times
a is purely divisible by b 2 times

In [10]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

l = [4,6,2,9,3,15,67,23,12,5,375,43,63,24,75,91,64,76,78,97,90,1,0,7,45]
for i in l:
    if(i%3==0):
        print("yes" ,i ," is divisible by 3")
    else:
        print("No" , i , " is not divisible by 3")

No 4  is not divisible by 3
yes 6  is divisible by 3
No 2  is not divisible by 3
yes 9  is divisible by 3
yes 3  is divisible by 3
yes 15  is divisible by 3
No 67  is not divisible by 3
No 23  is not divisible by 3
yes 12  is divisible by 3
No 5  is not divisible by 3
yes 375  is divisible by 3
No 43  is not divisible by 3
yes 63  is divisible by 3
yes 24  is divisible by 3
yes 75  is divisible by 3
No 91  is not divisible by 3
No 64  is not divisible by 3
No 76  is not divisible by 3
yes 78  is divisible by 3
No 97  is not divisible by 3
yes 90  is divisible by 3
No 1  is not divisible by 3
yes 0  is divisible by 3
No 7  is not divisible by 3
yes 45  is divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# Mutable data types : Mutable data types are those whose values can be changed or modified after they 
#                      are created. example : list ,dict
#                     we can update a list by using the fuction like append , change or delete
# Immtable data types : Immutable data types are those whose values cannot be changed or modified after
#                      they are created. example : String ,int , float